* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
display: flex;
}

.cont {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

h2 {
    display: inline-block;
    
}